<?xml version="1.0" encoding="utf-8" ?>
<WebAPI>
	<proxies>
		<proxy name="FSLLCoreApiProxy"
			   clientSuffix="Client"
			   endpoint="http://fsll.dyndns.org/fsll_ms_core/api/proxies"
			   baseaddress ="http://fsll.dyndns.org/fsll_ms_core/"
			   namespace="FSLLProxies.Core" />
	</proxies>
</WebAPI>
