<div id="body">
   @ViewBag.Test
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/coreproxies.js"></script>
<script>
    $(function () {
        //$.get("http://fsll.dyndns.org/Fsll_Ms_Core/api/Account/ListAllMembers", function (data) {
        //    console.log(data);
        //});

        //$.ajax({
        //    type: "GET",
        //    url: "http://fsll.dyndns.org/Fsll_Ms_Core/api/Account/ListAllMembers",
        //    xhrFields: {
        //        withCredentials: true
        //    },
        //    datatype: "json",
        //    success: function (data) { console.log(data) },
        //    error: function (data) { console.log(data) }
        //});
    });

    $.proxies.account.login({
        "MembershipNo": "A018",
        "Password": "1234asdf",
        "IsRemeberMe": true
    }).success(function (data) {
        console.log(data);
    });
     
    $.proxies.account.listAllMembers().success(function (data) {
        console.log(data);
    });

</script>